.sidebar {
    width: 224px;
    height: calc(100% - 40px);
    left: 0;
    top: 0;
    background: #030303;
    padding-left: 24px;
    padding-top: 40px;
    border-right: solid 1px rgba(255, 255, 255, 0.6);
}