.playlist_card {
    height: 273px;
    width: 203px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    margin: 8px;
    margin-top: 16px;
}

.playlist_card_image {
    margin: 16px;
    height: 171px;
    width: 171px;
    
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.6));
}

.playlist_card_content {

}
.playlist_card__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.playlist_card__desc {
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);
}