.topnav {
	display: block;
	position: absolute;
	left: 0;
}

.topnav ul {
	position: absolute;
	left: -40px;
}
.topnav li {
	list-style: none;
	list-style-type: none;
	color: rgba(255, 255, 255, 0.6);

}
.topnav a {
	text-decoration: none;
}

.active {
	display: flex;
	color: #ffffff;
    padding-left: -6px;
	border-left: solid 6px #66d36e;
}

