.player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.player_main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.player_time {
    display: flex;
    align-items: center;
    justify-content: center;
}
.player_timeline {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    height: 6px;
    width: 496px;
}

.player_button {
	margin: 16px;
}

#player_play {
	height: 36px;
	width: 36px;
}

#player_skips {
	height: 12.35px;
	width: 10.7px;
}
