.sidebar_playlists {
	position: absolute;
	top: 280px;
	left: 0;
	display: block;
	margin: 24px;
}

.sidebar_playlists_heading {
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.6);
}

.list {
    height: calc(100vh - 390px);
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.playlist {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 0.6);
}